<div class="card mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}, discovered {{yearDiscovered}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Mass: {{mass}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Size: {{size}}</h6>
    {{#each distanceFromSun}}
       <p class="card-text">Distance: {{@key}}: {{this}}</p>
    {{/each}}
    {{#each atmosphereComposition}}
       <p class="card-text">Distance: {{capitalize @key}}: {{this}}</p>
    {{/each}}
    <h6 class="card-subtitle mb-2 text-muted">Satellites: {{satellite}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Probes & Explorers: {{probesAndExplorers}}</h6>
  </div>
</div>